body
  color: #8B0000
  font-family: 'Bree Serif',Sansita, sans-serif, monospace
  text-align: center

.button
  background: #8B0000
  color: #FFFFFF
  margin-left: auto
  margin-right: auto
  width: 10vh
  height: 5vh
#main
  margin: 0
  padding: 0
  height: auto
  width: 100%

#board
  padding: 0
  margin: auto
  width: 33vh
  height: 33vh

.title
  padding: 0
  margin: 0.5vh
  height: 10vh
  width: 10vh
  border-radius: 0.5vh
  background: #8B0000
  cursor: pointer
  float: left
  color: #FFFFFF
  vertical-align: middle
  text-align: center
  font-size: 45px
