<html>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
      <script src="https://use.fontawesome.com/6c720fbdb3.js"></script>
      <link rel="stylesheet" type="text/css" href="css/main.css">
      <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  </head>
  <body ng-app="tictacToeApp" ng-controller="fullController">
    <div>
      <h1>
        <p>Tic-Tac-Toe</p>
      </h1>
    </div>
    <hr>
    <div>
        <select id="matrixSize" ng-model="matrixSize">
          <option value="{{3}}" selected="selected">3x3</option>
          <option value="{{4}}">4x4</option>
          <option value="{{5}}">5x5</option>
        </select>
    </div>
    <hr>
    <div>
        <table>
          <tr>
            <td ng-click="fillBox()">
              <div class="empty">
              </div>
            </td>
            <td ng-click="fillBox()">
              <div class="empty">
              </div>
            </td>
            <td ng-click="fillBox()">
              <div class="empty">
              </div>
            </td>
          </tr>
          <tr>
            <td ng-click="fillBox()">
              <div class="empty">
              </div>
            </td>
            <td ng-click="fillBox()">
              <div class="empty">
              </div>
            </td>
            <td ng-click="fillBox()">
              <div class="empty">
              </div>
            </td>
          </tr>
          <tr>
            <td ng-click="fillBox()">
              <div class="empty">
              </div>
            </td>
            <td ng-click="fillBox()">
              <div class="empty">
              </div>
            </td>
            <td ng-click="fillBox()">
              <div class="empty">
              </div>
            </td>
          </tr>

        </table>
    </div>
  </body>
  <script src="js/app.js"></script>
</html>
